
.DS_Store
.idea/Drive2Local.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
storage.json
.idea/inspectionProfiles/Project_Default.xml
credentials.json
*.pyc
